{% extends "todo/base.html" %}

{% block content %}
<h2>Todo List</h2>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'create-todo' %}" class="btn btn-primary text-dark"> Нове завдання </a>
</div>
<div class="list-group">
    {% for todo in todo_list %}
    <a href="{% url 'edit-todo' todo.id %}"
       class="list-group-item {% if todo.completed %} bg-success bg-gradient {% else %} bg-secondary bg-gradient {% endif %} bg-opacity-75">
        <div>
            <h5>{{todo.title}}</h5>
            <small>{{todo.published}}</small>
        </div>
        <p>
            {{todo.description|truncatechars:30}}
        </p>
    </a>
    {% endfor %}
</div>
<div class="d-grid gap-2 col-6 mx-auto">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-primary text-dark">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary text-dark">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary text-dark">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary text-dark">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}